/* mobile view  */
@media screen and (max-width:600px) {

    /* banner section start */
    .banner-content {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 40px;
    }

    .banner-content article {
        text-align: center;
    }

    .banner-content article h1 {
        font-size: 40px;
        margin-top: 40px;
    }

    /* main section start */
    .main-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    aside ul {
        background-color: transparent;
    }

    aside ul li {
        margin: 14px 0;
        border: 1px solid #e8e8e8;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    /* footer style  */
    footer {
        padding: 40px 0;
        margin-top: 40px;
    }

    .footer-nav ul {
        flex-direction: column;
        row-gap: 12px;
    }

    .footer-nav ul li a {
        font-size: 18px;
    }

    .btn {
        display: none;
    }
}

/* tab view  */
@media screen and (min-width:601px) and (max-width:960px) {
    .banner-content article {
        padding: 10px 30px;
    }

    .banner-content article h1 {
        font-size: 29px;
        margin-top: 30px;
    }

    .banner-content article p {
        font-size: 12px;
        padding: 15px 0;
    }

    .main-content {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    aside ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 20px;
        background-color: transparent;
        border-radius: 8px;
    }

    aside ul li {
        width: 32%;
        border: 1px solid #e8e8e8;
    }

    .blog {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn {
        text-align: center;
        display: block;
    }

    .btn a {
        display: inline-block;
        padding: 8px 20px;
        text-transform: capitalize;
        border: none;
        font-size: 18px;
        border-radius: 4px;
        color: var(--white-color);
        background-color: var(--highlight-color);
    }

    footer {
        padding: 50px 0;
        margin-top: 45px;
    }

    .footer-nav ul {
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-nav ul li a {
        font-size: 20px;
    }
}