/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* font-family end*/

/* ================
    common style START
=======================*/
body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, .9fr);
    justify-content: center;
}

:root {
    --primary-color: #161616;
    --highlight-color: #ECBE03;
    --white-color: #fff;
    --tittle-fontsize: 18px;
}

/* ================
    common style END
=======================*/
/* banner style start */

/* .banner {} */

.banner-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 12px;
}

.banner-content article {
    padding: 0 40px;
    color: var(--white-color);
}

.banner-content article h1 {
    font-size: 54px;
    font-weight: 700;
}

.banner-content article p {
    font-size: 15px;
    padding: 20px 0;
}

.banner-content article a {
    text-transform: capitalize;
    padding: 10px 24px;
    display: inline-block;
    background: var(--highlight-color);
    border-radius: 4px;
    color: #fff;
}

.banner-content .banner-img {
    text-align: center;
}

.banner-content .banner-img img {
    width: 80%;
}

/* banner style end  */
/* side menu style start */
/* side menu style end */